[2017-08-17 14:55] schurig opened #1 "[FEATURE] Detect ATM withdrawals"
- [x] Can choose to enable or disable _(disabled by default)_
- [x] Customize name of Cash-Account in settings
- [x] Detect by category for N26 transactions
- [x] Detect by memo/description/transfer reason for Figo
- [x] Detect for BBVA transactions _(comes with #9)_
- [x] Sets`payee` to `Transfer : %Cash Account Name%` for withdrawal transactions

[2017-08-17 14:58] schurig opened #2 "[FEATURE] Only get new transactions since last import"
- [ ] Stores last import timestamp in a individual file for each account
- [ ] If last import was today than still include today's transactions

[2017-08-17 15:03] schurig opened #3 "[FEATURE] Transactions between your accounts"
- [x] Notices when the transfer was to any other of your configured accounts
- [x] Names for each account on YNAB can be configured in the config
- [x] `payee` in transaction is set to `Transfer : %Account Name%` for those transactions

[2017-08-17 15:07] schurig opened #4 "[IMPROVEMENT] Set correct Payee and Memo attribute"
- [ ] `payee` is set to the name of the person that money was transferred to/from
- [ ] `memo` us set to the description/reason/comment that is provided in transactions

[2017-08-17 15:10] schurig opened #5 "[FEATURE] Only set N26 category if set up"
Useful if you have different categories in YNAB set up.

- [x] Only sets the N26 category if `set_category` is enabled
- [x] `set_category` is set to `false` by default

[2017-08-17 15:16] schurig opened #6 "[Improvement] Make usage easier"
Goal is to only have these files:

[code]

and run the script with `docker-compose run ruby`

- [x] Build new docker image on every push to master
- [x] `docker-compose.yml` file that uses container from registry

[2017-08-18 21:50] #6 closed

[2017-08-19 13:05] schurig commented on #5
Done with  14bfec4

[2017-08-19 13:05] #5 closed

[2017-08-19 13:09] schurig commented on #4
Depends on the response in https://github.com/bankscrap/bankscrap-bbva/issues/7 and https://github.com/bankscrap/bankscrap/issues/55

[2017-09-03 12:10] schurig commented on #3
Currently supported in the Figo dumper. The other APIs do not return any information about the payee iban.

[2017-09-03 12:10] #3 closed

[2018-02-12 17:19] bradymholt opened #8 "Consider using the new YNAB API?"
Hi @schurig, I'm a developer at YNAB.  This project looks nice!  I wanted to let you know we are working on an REST based API which is currently in Early Access stage.  I'm hoping you would be interested in joining and evaluating usage of the API for this project.  We support creating transactions through the API and will be rolling out an update this week which provides first-class handling for i

[2018-02-12 20:05] schurig commented on #8
Hey @bradymholt, thank you very much for reaching out to me. I just requested access to try it asap. If it works well, I can finally dump the selenium webdriver import and replace it with something very light that can run regularly on small devices like a raspberry pi.

[2018-02-12 20:58] bradymholt commented on #8
Great!  We'll reach out to you soon with some instructions.

[2018-02-12 20:58] #8 closed

[2018-05-27 16:36] wizonesolutions opened #10 "YNAB has an early-access API"
https://github.com/ynab/ynab-sdk-js. There is a link there to apply for early access.

[2018-05-28 06:41] therealppa commented on #10
Some work is already been done here: https://github.com/schurig/ynab-bank-importer/pull/9

[2018-05-28 09:33] schurig commented on #10
Hey @wizonesolutions, thanks for the ticket. Glad to see the interest. Yes, as @therealppa already mentioned in #9 you can find a working version with the official YNAB api.

The only issue why I don't merge it yet is that YNAB doesn't offer a way to create internal transactions. I have multiple bank accounts where I often transfer money among them. What I did for now is flagging the transaction o

[2018-05-28 09:34] schurig commented on #10
What do both of you think about me merging it into master and just highlight that inside the README? That selenium thing is very hacky and can break very easily. So even if internal transactions don't work yet it's still better I guess?

[2018-05-28 09:46] wizonesolutions commented on #10
Hmm. Do internal transactions work with Selenium? Overall, #9 is going to be the way to go, but maybe once YNAB releases the API publicly. I don't have early access, so merging it would break it for me.

Unrelated here, but I am planning to try and add Fidor Bank AG support (they have a REST API). I will probably wait for the API, though.

[2018-05-28 10:08] schurig commented on #10
Oh how cool, I used to have an account at Fidor Bank. Did you apply to get the early access? I got mine within a few days. You could justify it by saying that you want to add support for a new bank to this repository.

Yes internal transactions should work with the Selenium version. However, I haven't used the selenium version in a while. I thought that the support for internal transactions will b

[2018-05-28 10:44] wizonesolutions commented on #10
Yeah, I applied for the early access. I think I will get it, just have to wait.

The Selenium version is still working, in any case. I just used it.

It'll be nice if the trend of user-driven direct import continues. Web scraping and APIs have come so far that there's no reason Yodlee/Finicity/Plaid/etc. should be the only options...and especially in Europe, where the bank support isn't that good

[2018-05-28 12:41] schurig commented on #10
I also hope that the PSD2 will unify all those different APIs. I was researching on this topic in January but it seems it was just the date when banks need to start thinking about it. After writing to ING-DiBa they said that they don't offer it yet and that it will take some time

[2018-05-28 13:41] therealppa commented on #10
If you remove the Selenium parts I would have to use an older version because the API is still in restricted early access, most people are not able to get an API token.

[2018-06-02 14:53] schurig commented on #10
@wizonesolutions with the api or selenium version? For the API version for sure I can add this to the config to the dumpers and make it configurable by account. Do you mind creating an issue for that? If you want to give it a try you can also create a PR for that in case you’re comfortable with ruby. If not, no worries, I will do it as soon I find a minute.

For the selenium version I wouldn’t wan

[2018-06-08 16:00] wizonesolutions commented on #10
Seems like for my Fidor idea, I won't do it since they charge monthly for API access. Maybe I'll try to do screen scraping. Anyway, the original question for this issue was answered :)

[2018-06-08 16:00] #10 closed

[2018-07-21 12:38] #1 closed

[2018-07-21 12:50] schurig commented on #10
Merged the PR to master :)

[2018-08-13 11:07] schurig opened #12 "[FEATURE] Docker on raspberry pi"
## Project mission:

A script _**that can run every 15 minutes on a small and cheap mini-computer at your home (eg. raspberry pi) with an easy configuration**_ and support for most European banks.

---

To resolve the text in bold the following tasks are needed:

* automatically build an docker-image for the raspberry pi
* write documentation on how to set it up (link to docker setup and cronjob)

[2018-08-15 10:04] quifago opened #13 "New ynab-bank-importer version not getting ING-DiBa "Payee""
Hi,

With the new version (using YNAB access_token), my transactions from ING-DiBa do not have anymore the 'Payee' field as before.

Let me know if I can help you with some logs, or try to debug the code... Unfortunately I'm not seeing anymore the CSV files within the 'export' folder as before to try to provide you with more details.

Also, big thanks for this project!!!

[2018-08-16 06:46] quifago commented on #13
In case this helps, I was able to print in the console some transaction details info from the fints.rb adaptor:

This is an example of a transfer in Ikea, and these are the values I printed:
[code]

[code]

So, everything looks ok in the dumper...

I printed some other values in the transaction_creator.rb

[code]

[code]

So, here also looks right...
But when I see the transaction in YNAB app, thi

[2018-08-16 17:41] schurig commented on #13
I just debugged on my machine and it seems to work properly. It sets the `payee_id` to a null value.

![screen_shot_2018-08-16_at_19_39_42](https://user-images.githubusercontent.com/2672413/44224900-3f0b5200-a18c-11e8-8148-e4a6fd524d14.jpg)

What I noticed the other day is that in YNAB under Payees there was an empty string with some rules. I couldn't explain how that happened (maybe they messed s

[2018-08-16 19:16] quifago commented on #13
Hi,
This is what I get for the 'internal_account_id':
[code]

Also, I checked and I don't have an 'empty' payee item in the Manage Payees table.
I created a new budget (of course with no payees in YNAB), imported again the transactions and had the same result...

I wish I could help you more, but I don't know enough Ruby to 'really' debug this code end to end...

[2018-08-18 09:50] schurig commented on #13
@quifago I just had a credit card transaction on my ING-DiBa account and for me it worked:
![screen shot 2018-08-18 at 11 46 37](https://user-images.githubusercontent.com/2672413/44298053-83a60300-a2dc-11e8-9c48-882b62774d98.jpg)

I'm using the latest version (latest commit on master) on my raspberry pi that runs the script every 15 minutes via a cronjob. Very strange that it don't work for you. Y

[2018-08-18 10:36] quifago commented on #13
That's weird... today it worked!

I created a new budget and I have imported successfully all the transactions there.
I run the importer again pointing to my 'official' budget ID in YNAB and imported successfully 2 new transactions from last days.
So, it seems that magically, the problem have been solved 😄

Is there any way now to delete the transactions without payee in YNAB and that the importer

[2018-08-18 11:42] schurig commented on #13
Glad to hear it works now! 🎉

Unfortunately I don't know of any way how you could reimport the empty ones because I generate a `import_id` based on some values and if they don't change then YNAB will consider that transaction as already imported (even if you deleted it) - that's how their API manages to not reimport already imported transactions - do it's actually a feature.

What you could do is

[2018-08-18 11:42] #13 closed

[2018-08-22 19:42] moritzrupp opened #14 "N26 import failes with Bad Request (YNAB::ApiError)"
Hey @schurig,

I recently found your great work and I wanted to try it out.
Unfortunately, it is failing for my N26 account.

I have set up all the required fields in `config.yml` for the N26 dumper like this:

[code]

When I execute the docker image I'm getting the following error:

[code]

I'm completely new to Ruby, so cannot say a lot about the code. I have tested the API with my credentials u

[2018-08-22 20:09] moritzrupp opened #15 "FinTS dumper without IBAN (e.g. credit cards)"
Hi @schurig,

I'm currently evaluating your ynab importer.
I was wondering if it is possible to also fetch transactions from credit cards account (e.g. from DKB)?
As far as I understand they are identified by IBAN, but the credit card accounts do not have a IBAN, only a account number.

Am I correct that this scenario is currently not implemented?

[2018-08-23 05:47] schurig commented on #15
Hi @moritzrupp, I'm also having an account at DKB and will try it later this week to see if it works. The IBAN is only used to match internal transactions. What I do is in each transactions I check if the receiver or recipient of a transactions is one of your own bank accounts. If yes, then I give the transaction a color in ynab so you see it.

I remember that DKB works a bit differently than othe

[2018-08-23 05:48] schurig commented on #14
Hi @moritzrupp, thanks for reporting the error.

It looks like an error coming from the YNAB API during the import process. So I guess that the transactions from N26 are already fetched but for some reason it can't make the request to create it.

I'll have a look today or one of the next days and try to reproduce it with my N26 account :)

[2018-08-23 07:56] schurig commented on #15
You're right! If I get retrieve the transactions of the credit card account then I don't see any reason against also getting them. But maybe we should then exclude the monthly credit-card transaction from the Giro-account since it doesn't contain any valuable transaction information.

If it really doesn't work with `ruby_fints` maybe there is an other library that can handle the DKB credit card tr

[2018-08-23 15:55] schurig commented on #2
No need for now.

[2018-08-23 15:55] #2 closed

[2018-08-23 16:14] schurig commented on #14
@moritzrupp I just tried to reproduce it and I got the same error when I put a wrong `ynab_id` in. Can you double check that this id is correct?

You can find it here:

`https://app.youneedabudget.com/`**`BUDGET_ID`**`/accounts/`**`THIS_ONE_YOU_NEED`**

[2018-08-24 07:17] moritzrupp commented on #14
Hey @schurig,

I tried it again today. I made sure that the `ynab_id` matches 100%. I'm still getting the error.
Is there any way to print/log/debug the the request in a readable format?

Furthermore, when I use a different dumper (e.g. `:fints`) it is working this the account ID which is failing for N26.

[2018-08-24 08:00] schurig commented on #14
Sadly the official ynab library that I'm using seems to not log anything. I'll have a look because I think there was an ongoing PR regarding that. Would be much better to see the error message. Still strange why it doesn't work for you but for me then, I'm importing N26 transactions every day.

I'll let you know when I have a better idea how we can log it :)

[2018-08-25 09:09] schurig commented on #14
@moritzrupp I just pushed a new version _(#17, I just merged it into `master`)_ that prints out more information about the error. Can you please try it out and see what it says?

You might have to run a `docker-compose pull` before so that docker pulls the latest release from the registry. 🤞

[2018-08-29 09:45] moritzrupp commented on #14
Hey @schurig,

your update is great. I'm getting the following error description:

[code]

Which is now pretty obvious. The memo field is too long.
Currently it is composed of the reference text and the merchant city. Should it just be truncated to 100 characters? If yes, I could submit a PR.

[2018-08-29 10:08] schurig commented on #14
@moritzrupp awesome, glad to hear it worked! Thanks for posing the error.

If you want you can submit it as a PR. I would suggest to add the logic in `lib/transaction_creator.rb` because it might effect other banks as well. Here is a suggestion that should do the job:

[code]

Let me know if you need help. It would be cool if you could name the branch something like `feature/limit-memo-size` when

[2018-08-29 21:27] domspachmann opened #19 "FITS bank lists not available in public"
Hi, the bank list seems not to be available in public. How do I get the FINTS endpoint? Or am I getting something wrong given that in other issues it seems to work. https://www.hbci-zka.de/register/bedingungen_bankenliste.htm
Thanks, Dom

[2018-08-29 21:37] domspachmann commented on #19
Hi, I rewrite in English: the bank list seems not to be available in public. How do I get the FINTS endpoint? Or am I getting something wrong given that in other issues it seems to work. https://www.hbci-zka.de/register/bedingungen_bankenliste.htm
Thanks, Dom

[2018-08-29 22:10] #19 closed

[2018-08-29 22:11] domspachmann commented on #19
problem is known see documentation for config file

[2018-09-06 08:09] #14 closed

[2018-09-07 07:31] schurig commented on #12
Can't build it automatically for now. But created a wiki page as reference https://github.com/schurig/ynab-bank-importer/wiki/Build-Raspberry-PI-image

[2018-09-12 11:58] ryenbeatty opened #22 "Duplicate transactions are not imported"
Hi there,

First of all, thank you for this project, I have been looking for this for a while! I have everything up and running using the fints importer (ING DiBA), and have noticed that when I have 2 transactions from the same vendor, with the same monetary value, that only one will be imported.

I'm more than happy to jump into the code if you can give me some direction.

Thanks!

[2018-09-15 19:24] peterjeschke opened #23 "Undefined method `categories'"
I just tried the importer and wanted to import my n26 data into ynab. I installed docker, configured it and run it. But instead of importing my data, it threw an exception:

[code]

[2018-09-17 07:42] schurig commented on #23
Hi @peterjeschke, can you please double-check your n26 credentials? I was able to reproduce this by using wrong N26 credentials.

[2018-09-17 08:13] schurig commented on #23
I just merged a PR that should show a better error message in case that happens (#24). So if you pull the latest version from the docker-registry you should now see a better error message.

`docker-compose pull importer`
`docker-compose run importer`

[2018-09-17 16:37] peterjeschke commented on #23
Yes! Thank you for your help and thank you for the new error message,
that's awesome!

Martin Schurig <notifications@github.com> schrieb am Mo., 17. Sep. 2018 um
10:13 Uhr:

[2018-09-17 16:37] #23 closed

[2018-09-18 08:37] schurig commented on #22
Hi @ryenbeatty, I just fund out that the FinTS protocol doesn't return any time information in the `date` attribute and for now I don't see what could be a good way to get an uniq attribute of the transaction to prevent this problem from happening **and and the same time** to prevent duplicate entries from happening in case a field changes from time to time (because of processing).

This is the cu

[2018-10-13 17:28] therealppa opened #30 "Error with comdirect"
Hi,

the current version works fine with my Sparkasse account but I can't access my comdirect account. I'm getting this error:

docker-compose run importer
Traceback (most recent call last):
	9: from /usr/app/run.rb:9:in `<main>'
	8: from /usr/app/run.rb:9:in `map'
	7: from /usr/app/run.rb:11:in `block in <main>'
	6: from /usr/app/lib/account.rb:18:in `fetch_transactions'
	5: from /usr/app/lib/dum

[2018-10-13 17:31] therealppa opened #31 "Unhelpful memo with fints"
With my Sparkasse account, the memo field get filled with (to me) unrecognizable data like:
EREF+123456789012 PP.1234.

The actual memo (that e.g. MoneyMoney shows) in that case was:
PP.1234PP . Cinemaxx, Ihr Einkauf bei Cinemaxx

Which is a lot more helpful. Any chance to have the second value instead?

[2018-10-13 19:04] schurig commented on #30
Hey @therealppa, thanks for reporting the issue. Do you mind cloning the repo and applying the following diff to the code?

[code]

Then you will need to run `docker-compose -f docker-compose.dev.yml run ruby`.

Please also comment-out all banks in the `config.yml` except Comdirect, this way we only get the output for that one and not mix it with the one from Sparkasse.

You will then see some out

[2018-10-14 11:05] schurig commented on #31
The issue here lays on the FinTS-Protocol side I think. But I know that other apps do manage it to somehow only display the relevant information. I'll try to find some time in the upcoming weeks to have a look how I can remove the not-useful information and only take the "Verwendungszweck".

As written over here https://github.com/schurig/ynab-bank-importer/issues/30#issuecomment-429567127 that wo

[2018-10-15 13:11] f2cx commented on #31
I had the similiar issue using **DKB** accounts. As quick workaround I just extract the field ``sepa["SVWZ"]`` (if existent) from the transaction object instead of ``sub_fields["20"]``.

JSON Data of an Example Paypal Transaction Object **(DKB account)**:

[code]
Would be interesting to see the transaction object from a **Sparkasse account** to compare the fields...

[2018-10-21 09:08] #30 closed

[2018-10-21 09:43] schurig commented on #31
Hi @f2cx thanks for sharing this info. Where did you get the json from? I couldn't find most of those attributes in my logs. The data it returns in `sepa` seems really nice!

[2018-10-21 16:30] peterjeschke opened #34 "NoMethodError with ING-DiBa Import"
I just added my ING-DiBa account, but received this errormessage:

[code]
Note that I redacted my username from the logs. The config, but can't find a mistake.

[2018-10-21 18:36] f2cx commented on #31
For debug purposes, I included a debug statement here:

https://github.com/f2cx/ynab-bank-importer/blob/7161a8c187dc0367dc8b60630f335b9b13546849/lib/dumper/fints.rb#L78

I do not have any other FinTS account to compare the output with, so the ``sepa`` fields might be specific for [DKB](https://www.dkb.de/) accounts. Seems to be quite nice and convenient, because no parsing of the weird sub_fields

[2018-10-22 16:10] stephanlinke commented on #34
I just set up the docker container last night and the same is happening in my setup with an ING-DiBa account. The config.yml is seemingly correct, though. Also checked the config for any weird characters, no luck :/ Same with a non-docker install.

[2018-10-22 18:02] peterjeschke commented on #34
I found the mistake: It's a configuration error (kinda). ING-DiBa usernames only contain digits, so the YAML-parser parses the username as integer, causing a string operation in `ruby_fints` to fail. A temporary fix is to enclose the username in quotes.

[2018-10-22 18:19] schurig commented on #34
Awesome @peterjeschke!! Good catch! I just added it to the documentation so that other people don't run into that problem https://github.com/schurig/ynab-bank-importer/wiki/FinTS---HBCI.

@stephanlinke do you mind trying the same and see if it resolves your issue?

[2018-11-02 12:27] peterjeschke opened #36 "N26 importer creates duplicate entries"
I still couldn't pinpoint the exact source for this problem, but maybe someone more insight into this issue. Sometimes, the n26 importer creates duplicate transactions of already existing transactions. At first, only one transaction is shown (that is correct) but after running the importer a few times, a second transaction is created. This happens frequently with relatively recent transactions, bu

[2018-11-03 12:57] schurig commented on #36
Hi Peter, I’m also facing this issue and I find it a bit frustrating. The reason for it is the YNAB api which changes the timestamp by a few milliseconds. That means that their data is inconsitend. The change happens when a transaction gets processed.

The only solution I can think of is to add an option to the N26 dumper to not import not-processed transactions. That would mean that if you pay so

[2018-11-03 15:18] peterjeschke commented on #36
I don't I understand what you mean by transation processing. How does YNAB process these transactions and why does it only affect N26? Or does the n26 api changes the timestamp?

[2018-11-03 16:00] schurig commented on #36
Yes correct the N26 api changed the timestamp. They have a timezone mismatch which I already handle but they also sometimes change the seconds/milliseconds which I can’t handle

[2018-12-16 20:04] owohub opened #37 "Net::OpenTimeout"
While following your docker setup instructions and using Docker for Mac, I am running into a Net::OpenTimeout issue. Never used Docker before, so I would highly appreciate some help getting this great tool running.

/usr/local/lib/ruby/2.5.0/net/http.rb:937:in `initialize': execution expired (Net::OpenTimeout)

Thank you!

[2018-12-19 20:20] manuelgrabowski commented on #36
I had the same issue. Reading this discussion, my first thought was that it might be worth using only "HH:mm" from the timestamp for the hash… I guess it would be pretty rare to have two transactions in the same minute with the same amount (I'm only guessing the amount is part of the hash, though). But as you wrote, even "rounding" to "HH:mm" could still result in deviations, so it's not perfect e

[2018-12-26 12:39] schurig commented on #37
Hi @owohub, what Dumper are you using? And if it's the FinTS dumper, what bank is it?
I'm asking this because I suspect that the problem lays outside of the script. I could take some measures to improve the logging to see at which part it has trouble communicating outside after validating this.

Also, do you mind running the following command:

[code]

This will help us finding out if Docker for M

[2018-12-26 16:01] owohub commented on #37
Hi,

thanks for getting back to me: FinTS dumper and DKB bank. The curl command successfully fetched the contents of example.com, so it doesn’t seem to be a primary network issue.

Best regards!

[2018-12-26 22:37] owohub commented on #37
After putting the fints_endpoint in single quotes (you had previously told me it had to be double quotes :) and also putting the blz in single quotes the connection issues don’t show any more, but we’re back with the following error:

/usr/app/run.rb:16:in `<main>': undefined method `fetch' for nil:NilClass (NoMethodError)

Looking forward to the continued troubleshooting...

[2018-12-27 10:40] manuelgrabowski commented on #36
That PSD2 thing sounds interesting, neat! I agree with your reasoning about the default value for the new flag, and apart from the small typo I found the PR looks great to me! 🎉

[2019-01-02 09:53] #36 closed

[2019-01-02 17:55] peterjeschke opened #39 "UTF-8 conversion error"
Since a few days, all my imports failed because the importer failed with this exception:

[code]

The U+CC44 seems to be a korean sign:

I narrowed it down to a single account and I think I know the culprit: one transaction contains an umlaut (in this case ä). There are actually three not-yet-imported transactions, so I can't be certain.

This is an ING "Extra-Konto" for savings, and the three tra

[2019-01-06 20:06] BluetriX opened #40 "Special Characters in password"
I have a "!" at the beginnung of my password so I am getting:

Traceback (most recent call last):
        8: from /usr/app/run.rb:9:in `<main>'
        7: from /usr/app/lib/settings.rb:8:in `all'
        6: from /usr/local/lib/ruby/2.5.0/psych.rb:497:in `load_file'
        5: from /usr/local/lib/ruby/2.5.0/psych.rb:497:in `open'
        4: from /usr/local/lib/ruby/2.5.0/psych.rb:498:in `block in l

[2019-01-06 20:08] BluetriX opened #41 "Undefined method map"
C:\Users\erikb\docker>docker-compose pull importer && docker-compose run --rm importer
Pulling importer ... done
Traceback (most recent call last):
/usr/app/run.rb:9:in `<main>': undefined method `map' for nil:NilClass (NoMethodError)

[2019-01-06 20:19] BluetriX commented on #41
Pherhaps this is a docker on windows bug. It does not matter if its n26 or fints

[2019-01-07 13:56] deyhle opened #42 "multiple budgets?"
Is it possible to configure multiple budgets? So, Budget A with Bank Account 1 and 2, Budget B with Bank Account 3 and 4? Both Budgets belong to the same YNAB Account.

[2019-01-07 20:15] schurig commented on #40
Hi @BluetriX, can you try to put your password into quotes?

[code]

Let me know if it works

[2019-01-07 20:18] schurig commented on #41
Hi @BluetriX, I think this issue might be related to a wrong configuration. The configuration inside the `config.yml` should look like this:

[code]

[2019-01-07 20:20] schurig commented on #42
Hi @deyhle, currently the script doesn't support multiple budgets. But if you're using docker you could create two different directories (they should be named differently) and let the script run in two instances. This should work I think. Let me know if it works in case you want to give it a try.

[2019-01-07 20:20] #42 closed

[2019-01-07 20:32] schurig commented on #39
I bet it was the `Solidaritätszuschlag`. Someone else reached out to me about the same problem (also ING-DiBa). I just had a look and for me it worked fine.

Would you mind adding two small lines of code before the following:

https://github.com/schurig/ynab-bank-importer/blob/dcfc54011fa62dd2add8b4c23aac3637f2a11705/lib/dumper/fints.rb#L88-L89

Before line `88` it would help me if you could add:

[2019-01-07 21:05] BluetriX commented on #41
Ok - the " " where not mensioned in the example (or I am blind)

[2019-01-07 21:19] schurig commented on #41
You're right, I forgot to mention that in the instructions. I just added the line so that other people don't run into the same problem. Thanks for opening the issue. 😊

[2019-01-07 21:19] #41 closed

[2019-01-07 21:22] BluetriX commented on #41
Now everything works fine. I am so happy for this script.

[2019-01-07 21:57] BluetriX commented on #31
Same with Sparda-Bank Hessen:

{
  "sha": "xxxxx",
  "date": "2019-01-07",
  "entry_date": "2019-01-07",
  "amount": 11.87,
  "amount_in_cents": 1187,
  "sign": -1,
  "debit": true,
  "credit": false,
  "funds_code": "D",
  "swift_code": "NMSC",
  "reference": "NONREF",
  "bank_reference": "",
  "currency_letter": null,
  "bic": null,
  "iban": null,
  "name": "AMAZON EU S.A R.L., NIEDERL",
  "sep

[2019-01-09 07:43] deyhle opened #43 ""Wrong line format" error with fints / comdirect"
Importer fails with a comdirect fints account:

[code]
(sensitive parts overwritten with `9`s)

The transaction seems to be this one in the comdirect web interface:

<img width="1017" alt="bildschirmfoto 2019-01-09 um 08 35 36" src="https://user-images.githubusercontent.com/770621/50884016-034a8080-13ea-11e9-9d07-79a51386c99b.png">

Any help?

[2019-01-09 10:35] deyhle commented on #43
Thank you, I just opened https://github.com/playtestcloud/ruby_fints/issues/6 over there.

[2019-01-09 13:18] #43 closed

[2019-01-10 15:01] mmuehlberger opened #44 "N26 transaction types"

[2019-01-19 16:21] schurig commented on #37
Hi @owohub, have you tried putting all values in quotes? It still sounds like the config file can't be parsed correctly. Can you please also verify that all needed parameters are present? You can find all needed parameters here: https://github.com/schurig/ynab-bank-importer/wiki/FinTS---HBCI#configuration

[2019-01-19 17:11] wizonesolutions opened #45 "YNAB API now matches transactions!"
In case you weren't following, API matching now works in YNAB automatically without any changes to apps (it hides the imported transaction and auto-matches): https://support.youneedabudget.com/t/18p5md/matching-api-transactions

I've started using this again, and it seems like it will work perfectly now. If only I could get automated import for Fidor, heh...but I don't think they support FinTS :(

[2019-01-19 17:11] #45 closed

[2019-01-30 22:22] #39 closed

[2019-02-03 14:03] mathijshoogland opened #48 "Not able to run through docker because of old gem (unicode-display_width)"
Getting the following error when trying to run through Docker:

[code]

[2019-02-04 10:04] schurig commented on #48
Hi @mathijshoogland, thanks for reporting this error. I was using the docker setup a few days ago and it worked for me. I will have a look during the next days

[2019-02-08 09:55] #48 closed

[2019-02-08 20:03] hahaa24 opened #50 "Connection refused http.rb:939:in"
I installed everything needed to run on an Ubuntu 18.04 LTS container.

I used this command for all the tools needed:
`sudo apt install git autoconf bison build-essential libssl-dev libyaml-dev libreadline6-dev zlib1g-dev libncurses5-dev libffi-dev libgdbm5 libgdbm-dev ruby-all-dev libcurl4-openssl-dev ruby-bundler -y`

Then I installed Ruby and everything else using this set of commands:
`git clo

[2019-02-11 10:48] schurig commented on #50
Hi @hahaa24, could you give it an other try with the following endpoint?

`https://banking-by7.s-fints-pt-by.de/fints30`

[2019-02-11 20:34] hahaa24 commented on #50
That seems to be the solution, it loads a bit longer but then says `account must be formatted as a uuid` and this 60 times. Is this a known error?

[2019-02-11 23:12] schurig commented on #50
It sounds a bit like either your `ynab_id` or `budget_id` is wrong. Do you mind double checking? In case it still happens, can you also post the stracktrace please?

[2019-02-12 05:23] hahaa24 commented on #50
I found the error within my `ynab_id` I put in something with numbers only I found at my budgets tab. What helped me to find the right id was this: https://github.com/fintech-to-ynab/fintech-to-ynab/wiki/YNAB-Account-ID

Now everything is working just like magic. I think the installation guide is a bit too less detailed for complete amateurs like me. I would agree to make a more detailed guide on

[2019-02-12 05:50] hahaa24 commented on #50
Now I try to setup a second account in this config, but then I get an error. I probably only got the formatting wrong. The account is at the same bank and has the same login, only the IBAN differs. (And the `ynab_id` in the config.

The config:
[code]

And the error:
`Traceback (most recent call last):
	6: from run.rb:9:in `<main>'
	5: from run.rb:9:in `map'
	4: from run.rb:11:in `block in <main>'

[2019-02-20 09:55] 117agu commented on #31
I've tried this by adding put JSON  at the same location as in your file but I don't know where to find the JSON afterwards...

[2019-03-02 12:21] yuvke opened #52 "`entry_date': undefined method `month'"
Hi,

I'm trying to run the script locally on Mac (directly in terminal, I have ruby installed).
I'm getting the following error:

[code]

My config is:

[code]

Any idea what may be causing this?

[2019-03-04 12:05] schurig commented on #52
Hey @yuvke, do you mind adding a small line?

Before this line here:

https://github.com/schurig/ynab-bank-importer/blob/3739b4b56c25d255f44431ea9436cfba9922abb3/lib/dumper/fints.rb#L34

it would help if you add a

[code]

and post the output here (the one just before it fails). **Please make sure that you remove all sensitive information from the output**

I suspect that your bank returns some we

[2019-03-04 13:18] yuvke commented on #52
Hey @schurig, thank you for the help.
Here's the last output before the script throws:
[code]

[2019-03-05 22:43] yuvke commented on #52
@schurig, could this be related to the fact that I'm running the script directly from the terminal and via the docker container? I'm running on Mac and I have ruby installed, but maybe not the correct version?

[2019-03-08 19:43] schurig commented on #52
@yuvke I just had some time to check into it and it seems like it's a combination of your bank and the ruby library [cmxl](https://github.com/railslove/cmxl) that I'm using: https://github.com/railslove/cmxl/blob/master/lib/cmxl/fields/transaction.rb#L63-L67

[2019-03-08 20:03] schurig commented on #31
I just merged #53. Hopefully this solves the problem.

Please be aware that using the latest version might result into importing duplicates because the `import_id` changed. Right after the import you will see them in YNAB and can select them and delete them. This way they won't be imported again.

This will only effect transactions that are younger than 35 days.

[2019-03-08 20:03] #31 closed

[2019-03-08 20:04] #22 closed

[2019-03-08 22:10] BluetriX commented on #52
Got the same problem now with my bank. worked one month ago... :-(

[2019-03-10 09:36] yuvke commented on #52
@BluetriX - thanks for the tip! I managed to skip the problematic dates (mine was February 29). And enter the remaining statements manually!

@schurig - Any idea why this happens? Is the faulty date due to the bank's API or the cmxl lib?

[2019-03-10 09:47] yuvke opened #54 "inaccurate payee_name for Sparkasse transactions (fints dumper)"
Hi,

It seems that for many transactions I a get a generic payee called **Landesbank Hessen-Thuringen**.
If I look more closely at the transactions, I can find the actual name of the business in a different position on the source string, so that if I change these rows in fints.rb:
[code]
To this:
[code]
I get a much nicer output. Did anyone else encounter this? Is there a better way to find out wh

[2019-03-10 16:40] schurig commented on #52
@BluetriX @yuvke what bank is it that fails? I wonder if maybe the problem is that the bank thinks Feb 29th 2019 exists. I could at least build something around it that skips that transaction automatically so it doesn't happen again..

[2019-03-10 16:44] yuvke commented on #52
This happens to me on Sparkasse. I would change the date to 28/2 so that the transaction would be valid. Is it possible?

[2019-03-10 16:46] schurig commented on #52
I will have a look into it and will try to do it asap. Probably not today but next week

[2019-03-11 09:08] schurig commented on #54
Hi @yuvke can you try the latest master? I merged https://github.com/schurig/ynab-bank-importer/pull/53 the other day and it could be that it works with this.

https://github.com/railslove/cmxl/blob/master/lib/cmxl/fields/statement_details.rb#L45-L47

[2019-03-11 15:09] yuvke commented on #54
Hey @schurig, it doesn't solve it. But it does simplify the code a bit...
The main issue as I see it is that sometimes the payee is a service like **PaySquare** or the payment is to **Landesbank Hessen-Thuringen** even though the actual transaction occurred at one of their clients.
The only problem is I don't know the list of such possible Payments Aggregators (is that even the right name?)...
My

[2019-03-24 06:33] moay commented on #52
Hi there. Updates on this? Just ran into the same issue. Great work btw!

[2019-03-24 11:04] #52 closed

[2019-03-24 11:07] schurig commented on #52
I just fixed the issue. Sorry, I forgot that this was still open.

Be aware that if you use the latest version you might get some duplicates imported. YNAB will ask you to approve them. So you can simply select all the transactions it asks you to approve and remove them if you think it's a duplicate. Will only effect transactions within the last 35 days. 😊

[2019-03-24 11:19] moay commented on #52
Thanks fo acting in the issue. Actually, I think your fix doesn't resolve the issue, as the date in question is "190230". Just pulled the latest changes, the error is thrown again. :-( I can't reopen the issue, but ut isn't yet resolved, I guess.

For me, this happens on a transaction from the DKB bank in Germany, so it's not some little bank where you'd expect a general misbehaviour or false date

[2019-03-24 11:35] moay commented on #52
Okay, inspected that a bit closer, here is some more information.

First the error I get:
[code]

I inspected the failing transaction, it looks like this (removed some parts):

[code]

So the `entry_date` seems to be correct but getting the year from '190230' fails, probably because ' '190230' could not be parsed to a year and remains a string instead. Maybe one could just get the year from the st

[2019-03-24 11:42] moay commented on #52
Simpler solution: In `fints.rb:95` just don't pass the year if `date` could not be parsed and therefore is a string. It will fallback to todays year, which might be an issue at the end of december, but thats way better than a failing import.

[2019-03-24 11:46] schurig commented on #52
@moay I just pushed a new branch. Could you check if it works with that version? #57 `hotfix/fix-not-existing-dates`

[2019-03-24 11:52] moay commented on #52
Just ran a quick test, seems to work. No error. I'll check the transactions later, but there are some new ones, so this looks good. 👍

Thanks!

[2019-03-25 18:54] 117agu opened #58 "[IDEA] Set payee based on memo (for paypal)"
Hi,
I am paying a lot with googlepay lately. Because of this most of my transactions are "Paypal".
would it be possible to change this specific payee based on the memo?

Bu­chungs­text
PP.2630.PP . DM-Drogerie Markt
, Ihr Einkauf bei DM-Drogerie Markt

would lead to  "PP.2630.PP . DM-Drogerie Markt" for example.

After all paypal is never (?) the original payee, but some shop.

thank you all

[2019-03-31 08:43] misterfinster opened #59 "NoMethodError with FINTS (Deutsche Bank)"
Love the project, have been using it for a few months.  I use the FINTS importer.  About 7 days ago, my import (I run it nightly via cron with docker-compose run) stopped importing.  Not sure if it is related to Merge #57 or Merge #56 but this is the traceback I get now after updating everything (git repo, docker image, etc):

Traceback (most recent call last):
	7: from /usr/app/run.rb:9:in `<main

[2019-04-01 10:10] schurig commented on #59
Hi @misterfinster, thanks for opening this issue. Sorry to hear that the script broke for you. Working with so many banks is always tricky. I just merged something that hopefully fixes your problem.

Can you give it a try?

You might need to pull the latest image from the docker-registry:

`docker-compose pull` and then run the script again.

[2019-04-01 17:06] misterfinster commented on #59
After enabling debugging as described in issue #22 I think I see what the real deal is with my transactions.  In Deutsche Bank, they use the concept of 'queued' transactions.  The first 'queued' transaction (my rent payment) has far fewer fields than a cleared transaction.

[2019-04-01 17:18] misterfinster commented on #59
In the cleared transaction, there are date fields in the `@data` structure like this:
`@data={"date"=>"190401", "entry_date"=>nil, ..... }`
but in the 'queued' transaction, the first `@data` field is empty and there are no 'date' fields:
`@data={}`

[2019-04-02 10:01] schurig commented on #59
This is the first time I've heard that a bank also provides this information. Would it be okay for you if I just ignore all transactions that don't have a date? Because in the end as soon as your rent is processed it, it would show up as a regular transaction

[2019-04-02 20:57] misterfinster commented on #59
Yeah, ignoring  sounds like a decent solution to me.  I usually already have a transaction entered (scheduled or manual) and just match up the auto-imported ones when I reconcile.  Thanks for the quick responses.

[2019-04-03 09:34] #59 closed

[2019-04-18 19:29] gingerlime opened #62 "endpoint for targobank?"
Hi there,

I'm hitting my head against the wall on this one, trying to find the fints endpoint for Targobank (BLZ 30020900)... I think Targo only introduced it recently, so maybe that's why it's nowhere to be found. Would appreciate any help on this one :)

side note : isn't the whole point of HBCI to open up banking?? but then those endpoints are some kind of a secret, I don't quite understand it

[2019-04-18 21:49] schurig commented on #62
Hi @gingerlime, can you try it with https://fints.targobank.de/travicretail_fints30pintanbroker/FinTs30PinTanHttpGate?

I agree with what you said. A year ago the list was still public. I don't get why they went this path. I already wrote them an email about it some time ago but they only pointed me to the registration: https://www.hbci-zka.de/register/hersteller.htm

[2019-04-18 21:50] #62 closed

[2019-04-19 05:13] gingerlime commented on #62
Thanks @schurig. It looks like this endpoint responds, but somehow I'm getting a 403 with the right credentials...

I'm using python-fints to test this (which the ruby implementation was based on)

[code]

Having no problems with ING Diba though ... I guess it's those kind of things that would be impossible to debug unless I knew someone at the development team of the bank responsible for it, but

[2019-04-20 09:44] gingerlime commented on #62
Very strange. `ruby_fints` seems to work fine. No clue why it fails with python with the exact same details. Possibly some unicode/character encoding issue? In any case, this is the correct endpoint for Targobank. Thanks again @schurig !

In case it helps anyone, I also found this [database of fints endpoints](https://raw.githubusercontent.com/jhermsmeier/fints-institute-db/master/fints-institutes

[2019-04-21 21:56] DenniWittig opened #63 "Encoding::UndefinedConversionError"
Hello,

I get an error for my fints account (n26 is working fine).

This is my config.yml

[code]

And this is the Error Message I‘m getting.

[code]

I hope you can help me out.

Kind regards,
Dennis

[2019-04-23 11:44] kiliankoe opened #64 "FinTS::DialogError with ING-DiBa Account"
Hi!

I've been successfully using this for syncing an N26 account to my YNAB for a few months, thanks so much for that convenience ❤️

On trying to add an ING-DiBa account however I'm running into the following issue:

[code]

I'm using the correct IBAN, FinTS Endpoint (https://fints.ing-diba.de/fints/), FinTS BLZ (50010517) and my username and password which I use to authenticate to ING-DiBa's on

[2019-04-23 12:30] schurig commented on #64
Hi @kiliankoe, I'm glad to hear that it worked well for you so far :)

For me it works with the following configuration:

[code]

The IBAN is only used to get the statements (transactions) from the correct account, so it's not used for the authentication. The only 4 factors for the auth to work are: `fints_blz`, `password`, `username`, `fints_endpoint`: https://github.com/schurig/ynab-bank-importe

[2019-04-23 13:00] kiliankoe commented on #64
Thanks for the quick reply! Unfortunately I can't find an issue with my credentials, they're exactly the same I use for auth on the website and are correct 😕

The only thing I can currently come up with is that authentication via the FinTS HBCI endpoint is denied since my account is too new and contains no transactions whatsoever or something like that. I'll keep trying and see if this resolves it

[2019-04-23 13:07] schurig commented on #64
Oh that could be! Or maybe they changed the flow and now you have to request access through HBIC/Fints. I guess you would run into similar issues using other banking apps like Outbank then 😕

I'll close the issue for now. Let's hope you can use your ING account soon 🚀

[2019-04-23 13:07] #64 closed

[2019-04-23 21:35] kiliankoe commented on #64
Unfortunately that doesn't appear to be it, even after first transactions are visible. [MoneyMoney](https://moneymoney-app.com) is also able to access the account via the FinTS HBCI API 😕

[2019-05-05 08:18] misterfinster commented on #43
I know this is closed, but this issue (at least with \r\n in the lines) also affects Deutsche Bank (i'm seeing it) all the way down in cmxl: https://github.com/railslove/cmxl/issues/30.  I've manually updated ruby_fints to cmxl 1.4.0 and it is still broken.  Just some notes for anyone else having this issue.

[2019-05-09 18:37] kai-truempler commented on #31
Hi, with my DKB account, I'm still running into a similar problem.
The ynab memo field gets:

while the memo on the web interface is:

Is there something I can do?

[2019-05-26 18:23] felixwoestmann opened #66 "Suggestion for Wiki"
Hello there,
I just tested the script with my Account at Volksbank (Gronau-Ahaus).
It is necessary to use the 'pinTanURL'.

Maybe you want to add this to "Currently tested with:" in the Wiki.

[2019-05-29 09:51] schurig commented on #66
Hey @felixwoestmann, thanks for the info 😊

I just added it https://github.com/schurig/ynab-bank-importer/wiki/FinTS---HBCI

[2019-05-29 09:51] #66 closed

[2019-05-31 10:11] theTranqu opened #67 "Can not authenticate with n26 api"
[code]

I am running the importer on my raspberry pi with docker-compose. At some point some two weeks ago, the import process just stopped working. I have not changed the password and I have confirmed that the correct password is set in the config.

I have also confirmed that I can connect to the api.tech26.de:443:
[code]

Does anyone else experience similar problems?
Did something on the n26 api

[2019-05-31 12:24] schurig commented on #67
Hi @theTranqu, I'm using N26 myself and for me the import still works. Did something to your docker setup change lately? It's indeed weird that on the raspberry pi you can run a curl successfully but the script isn't able to connect.

[2019-06-04 09:19] theTranqu commented on #67
@schurig Thank you for your response, I am sorry to drop in a false alarm here. Apparently _something_ was wrong with docker- nothing had changed and the daemon was still responding, but it failed to open tcp connections. Doing a stop of the docker service including a removal of all the /var/lib/docker and /var/run/docker and /var/run/docker.* files and a subsequent restart of docker cleaned up th

[2019-06-04 09:19] #67 closed

[2019-06-08 11:39] stockmax opened #68 "Duplicate Transactions (N26 and DKB)"
I always get 2 transactions for every transaction. The second one comes one or two days after the first one. This is very confusing as YNAB does not seem to detect the duplicates and I get two transactions and need to delete one of them manually.

Is there a workaorund for the issue? Thank you!
This is such a good project that really helps me with my budget! :)

[2019-06-11 20:48] schurig commented on #68
Hi @stockmax, the issue with N26 is knows, however the one with DKB not. Are you sure it also effects DKB transactions?

Unfortunately, there isn't much you can do about it. I introduced a setting some time ago to only import the transaction once it's fully processed. The downside to that setting is that if you enable it, it could take 1-3 days until your transactions show up.

https://github.com/

[2019-06-12 06:24] 117agu commented on #68
Hi, just to let you know: I don't get dublicates with DKB. However sometimes my Sparkasse account would show up with transactions "sonstiger Einzug", these are "vorgemerkte Umsätze". Maybe it's something like this for N26?
I'm just deleting them as they will show up again with the real memo

[2019-06-12 06:41] stockmax commented on #68
@schurig Ah, alright, thanks! I will try the option for N26.
Regarding DKB: pending transactions are imported and a few days days later the real transactions are imported. YNAB does not recognize the duplicates. Maybe you can introduce an option to ignore pending transactions for DKB (or fints) as well?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-06-12 16:43] schurig commented on #68
@stockmax I fear that this would be too specific to a single bank, because there is no DKB-dumper but a generic FinTS dumper that should work for all banks. And I fear if we would match for `sonstiger Einzug` it could skip imports for transactions.. Unless there is some other kind of indication in the memo that is clearer?

[2019-06-12 19:03] stockmax commented on #68
@schurig you're right, this should be addressed not only for DKB, but for all banks. I know that with pyhton-fints you can get two xml files (first one with booked transactions, second one with pending transactions). I don't know how this works with ruby_fints though.

[2019-07-01 19:44] christophwolff commented on #37
I think my issue is related to this. I run it on a raspberry pi without docker.
[code]
I dont get the error everytime i run the app. Only every 5 fetches or something like that. I run the script every hour via crontab.

Thanks for your help

[2019-07-14 10:55] 0xErnie opened #73 "FinTS HBCI: Give field name"
Using the wiki/FAQ it is not clear what field the information for the FinTS was needed.
Something like this would have helped:
"The information you look for is in the field *pinTanURL*" or something like that.

[2019-08-01 09:21] christophwolff commented on #37
any news on this?

[2019-08-04 09:24] Technofrikus commented on #68
I have the exact same issue with the DKB. Why cant the solution you found for N26 be applied to the DKB (or other banks)? DKB (or other banks) doesnt provide the necessary information?

[2019-09-11 16:08] nodomain opened #74 "PSD2 with 2FA breaks the crown job"
This is the error message.

/usr/local/lib/ruby/gems/2.4/gems/ruby_fints-0.0.3/lib/fints/dialog.rb:83:in `send_msg': {"9050"=>"Die Nachricht enthält Fehler.", "9075"=>"Starke Kundenauthentifizierung notwendig.", "9800"=>"Dialog abgebrochen", "9340"=>"Auftrag abgelehnt."} (FinTS::DialogError)
   from /usr/local/lib/ruby/gems/2.4/gems/ruby_fints-0.0.3/lib/fints/dialog.rb:67:in `init'
   from /usr/lo

[2019-09-14 10:47] PetePriority commented on #74
I stumbled upon python-fints while looking for alternatives. In their [docs](https://python-fints.readthedocs.io/en/latest/quickstart.html) they mention

I'm not sure if they'd issue these product IDs for open source projects since I assume they're supposed to be kept secret?

[2019-09-16 10:13] schurig commented on #74
@manuelgrabowski from what I've seen a certificate/license is needed to directly use the APIs of banks. However, there are some services like token.io (provider that N26 partners with for the PSD2 compliance) and some others, but they all seem to charge money. Friday I found out that TrueLayer.com is doing a Germany beta, so I started contacting them that day and will try to see if that could work

[2019-09-16 11:01] 117agu commented on #74
Does anybody know it there are there plans of ynab to support PSD2 directly?

[2019-09-16 14:17] schurig commented on #74
@117agu I wrote them an email today so that they are aware that even the maintainers of import-scripts are frustrated and can't do much about it. I think they relied on the community strength to get this figured out. Obviously, their main market is north america and it takes quite some effort and resources to understand the financial system of an other economic system. But they need to understand

[2019-09-16 19:35] DWegmann commented on #74
As a workaround for my YNAB imports I currently using the OFX export functionality of the money money Mac app (https://moneymoney-app.com/). They are also currently working hard to make their account access working with PSD2.

[2019-09-17 13:03] manuelgrabowski commented on #74
@schurig Thanks for the detailed explanation and your efforts finding a solution. I could even live with a TAN-based method, because I will change my bank to one that doesn't require a TAN more than once a month anyway – and that's something that could be dealt with gracefully enough in a cronjob as well, I think. I'm okay with some manual commands once a month to keep it running.

@117agu Very do

[2019-09-17 14:23] schurig commented on #74
@manuelgrabowski I'm currently looking at bunq which is a dutch bank. They have an API which looks promising and reading their docs, you can still use the API without a licence (the api it's part of their product offer). The only downside is a monthly fee of ~8€. But I'll wait for TrueLayer's Germany beta to see if their service might workout before I try around with bunq.

[2019-09-17 18:25] 117agu commented on #74
Damn, the only solution might be to create a European ynab clone ;(

[2019-09-17 18:42] manuelgrabowski commented on #74
TrueLayer looks quite interesting. I actually wouldn't even really mind a monthly fee for a bank account with good features, but I'll wait a little until all the dust has settled. I was shocked to learn that N26 doesn't even allow to do wire transfers via HBCI but forces me to use the website instead of the trusted MoneyMoney app. So in the next months I'll decide where to go – a bank with sane PS

[2019-09-18 21:28] Password2501 commented on #74
@schurig thanks for providing your service in the first place it helped me a lot when I moved from France (nice Quicken export Banks) to germany (crappy excel export). But now I'm fucked, I can't keep my budjet up manually.
and as       @manuelgrabowski says It might be the nail on YNABs coffin...

@schurig keep us posted on your work, may be we can find enough people to pay for some nice implemta

[2019-09-19 09:02] schurig commented on #74
I have some news. So I couldn't wait to try it and I subscribed to [bunq](http://bunq.com/invite/schurig). They offer an api as their product. And I saw that they support webhook-notifications which means that I don't even have to put my bank credentials or access token anywhere. I just needed it once on whatever computer to setup the webhook. It's pointing to my [uberspace](https://uberspace.de/e

[2019-09-19 18:44] wizonesolutions commented on #74
Just to clarify, as there is the label but not an explicit mention: this affects N26 as well, yeah? It's a shame. PSD2 was supposed to _expand_ access to this kind of data, not break existing methods...

Well, at least N26 has CSVs, and there's https://aniav.github.io/ynab-csv/. Not great and going to miss the automation for now. Will follow this issue.

[2019-09-20 12:43] schurig commented on #74
@wizonesolutions yes, the same thing is happening with N26.

Thanks for posting that link! I actually do the same those days until there is a better solution. I tried TrueLayer's Germany beta but not all banks work yet (unluckily none of my banks works so far). They're still working on the N26 integration for example. As soon they support all German banks I will continue my efforts on that front.

[2019-09-30 06:18] lukkigi opened #75 "Problem with Sparkasse and FinTS"
Hello,

first of all: amazing project! Been using it for months now with my ING account.

I ran into some troubles with a Sparkasse bank account though.

[code]

[code]

I've double checked the crendentials and they seem to be correct. Can you spot anything I'm doing wrong?

[2019-10-07 10:40] schurig commented on #75
Hi @lukkigi, thanks for reporting the issue!

The problem is related to the PSD2. So far I'm looking for providers that support german banks. There are a few out that that are working on supporting german banks, however so far all the ones that work are paid only. But there is some hope on the road. You can read more about the progress here: #74

[2019-10-07 10:40] #75 closed

[2019-10-16 21:30] f2cx commented on #74
I have successfully used [Salt Edge API](https://www.saltedge.com/products/spectre) to connect to the German bank "DKB" to have the import working again. Salt Edge can connect to hundreds of PSD2 banks, so this solution might also work for others. I could just register for an account for free. You need to request "test access" after account creation, so that you can talk to real banks.

Of course,

[2019-11-02 07:00] gadmeer commented on #74
@f2cx wow! Thanks for finding out. Can you help to clarify if Salt Edge mean by 100 live connections 100 bank accounts or transactions? Is it still working on your side?

[2019-11-02 20:13] f2cx commented on #74
@gadmeer It means 100 connections to different banks. However, currently I only sync to the German bank "DKB" (I have imported thousands of transactions on multiple accounts of that bank) and to Paypal. So in total I use only 2 live connections.

Currently, I'm using this Salt Edge account only for my own purposes, so the 100 live connection quota is obviously not really an issue. However, I have

[2019-11-08 15:26] markbrewster opened #77 "Completely different bank setup"
Forgive me, I'm a newb to all this.

I'd like to experiment with getting my bank here in Estonia working with this. Is this project something that would theoretically work? There's a developer site https://sebgroup.com/developer but I'm just wondering whether this script is theoretically adaptable to any bank's API?

[2019-11-09 14:20] Putr commented on #74
FYI this:
https://github.com/guitmz/n26

works for N26 - well at least for current balance and some other endpoints, it's throwing an error on transactions.

Anyway when you run the script the N26 app asks for confirmation, if you do it in 60 seconds it lets the script through. There's even a PR to cache the token for longer.

[2019-11-15 12:30] lukkigi commented on #74
I have tried to setup my account with SaltEdge today and got up to the point where I had register for test access on this URL: https://www.saltedge.com/clients/require_test_accesses/edit. It keeps saying that my entered URLs are invalid. Did run into this problem as well? Getting quite frustrated with their validation

[2019-12-07 17:27] dequis commented on #74
For n26, https://github.com/femueller/python-n26 handles 2FA, can store the refresh token, but it requires reauthentication after two hours: https://github.com/femueller/python-n26/issues/67

People on that thread contacted n26, and got told that they could use token.io.

For now I'm making it slightly-less-manual than exporting CSV from the web UI and using this unholy commandline to turn the jso

[2020-01-05 20:27] thetable opened #78 "ING transactions show up with wrong year (2019 instead of 2020)"
Starting this year, I am seeing several transactions with the wrong year. These are imported from a German ING account.
I don't know if it's a problem with the bank data or this library (the former seems more likely), but I wanted to know if anyone else has seen a similar issue?

[2020-01-05 20:30] thetable commented on #78
<img width="1419" alt="Screenshot 2020-01-05 at 21 29 24" src="https://user-images.githubusercontent.com/327335/71785656-7ccb7d80-3002-11ea-9f4b-51abb27029dd.png">

[2020-01-19 12:03] christophwolff commented on #78
I thought i put them in by hand plus the automated transaction, but it seems there is a bug. ok, so i have this issue too.

[2020-03-04 15:38] zappingseb commented on #74
Thankfully, at least `comdirect` has its own API now. As a starter I created a repo to work with it. It cannot be executed on a raspberry, yet, as a TAN needs to be solved. https://github.com/zappingseb/comdirect_api

[2020-03-09 14:16] simonszu opened #80 "Unclear about cash_account_id"
I am a little unsure about the cash_account_id. I understand the documentation that it defines the actual cash account, so when it detects a transfer to cash on my main account, it will automatically create a "transfer to cash" action in YNAB.

But if i have multiple accounts on different banks in the same budget (type "Checking), and only one cash account (type "Cash"), why should i specify the c

[2020-03-09 14:45] simonszu commented on #80
Nevermind, i haven't seen the `ynab_id` setting later in the config yet.

[2020-03-09 14:45] #80 closed, assigned to nobody

[2020-03-09 16:47] gitviola commented on #80
Hey @simonszu, yes exactly, the term `cash` in this specific setting refers to the physical cash you might store at home/wallet in your pocket. So the script basically matches for terms like ATM, Geldautomat, ... to detect cash withdrawals and then it creates a transaction from the account the money was taken from to the ynab account id that you provided in that setting.

[2020-03-09 17:50] simonszu opened #81 ""Automate it" - small typo in cron command"
I have just set up the importer and noticed a small typo in the cron command described in the Wiki. It says `cd /home/youruser/.ynab-bank-importer && /usr/local/bin/docker-compose run --rm importer | mail -s "YNAB importer failed" youremail@example.com`.

Based on the mail subject line i see that the mail should be sent when the importer fails. But currently it is sent everytime, since the output

[2020-03-17 17:15] gitviola commented on #81
Thanks a lot @simonszu! I just corrected it on those wiki pages:

https://github.com/schurig/ynab-bank-importer/wiki/Setup-using-docker
https://github.com/schurig/ynab-bank-importer/wiki/Raspberry-PI-using-Docker
https://github.com/schurig/ynab-bank-importer/wiki/Raspberry-PI-without-docker

[2020-03-17 17:15] #81 closed, assigned to nobody

[2020-04-14 06:48] christophwolff commented on #78
fixed itself for me.

[2020-05-29 06:49] christophwolff commented on #74
ING still working.

[2020-09-08 23:26] stereolith commented on #74
The [python-fints lib](https://github.com/raphaelm/python-fints) seems to have [solved](https://github.com/raphaelm/python-fints/pull/95) PSD2 integration. I think an interactive command line utility is used to enter a TAN. [Docs](https://python-fints.readthedocs.io/en/latest/quickstart.html)

I wrote a YNAB importer with this lib and it works well for me. My bank does not require a TAN to retriev

[2020-10-20 22:37] silasalberti commented on #74
There currently is [a survey by the ECB](https://www.ecb.europa.eu/home/html/index.en.html) about the implementation of the digital euro. The following question immediately reminded me of this issue:

The problem in the case of this repo (and probably many other cases) was that PSD/2 killed Open Source projects by requiring expensive licenses for bank integration that indie/open source developers

[2020-11-10 12:31] xraptorx opened #84 "UBS Bank - Switzerland"
Great project!

Is there a way to get it to work for UBS Bank in Switzerland?  I am using Buxfer right now and that connects to UBS via SaltEdge.  However, I would like to move back to Ynab is I could import from UBS.

[2020-12-31 21:37] azer opened #85 ""Couldn't login with your provided N26 credentials. Please verify that they're correct.""
Hey there,

Happy new year. Thank you for building this project.

Following the instructions, I get the error message from this line;
https://github.com/schurig/ynab-bank-importer/blob/master/lib/dumper/n26.rb#L44

Is this due to https://n26.com/en-eu/blog/what-is-psd2 ?

Cheers

[2021-01-06 00:06] #85 closed, assigned to nobody

[2021-01-10 14:20] emeni09 opened #86 "Better explenation for novices"
Hi,

is there any chance you can provide better explenation for novices?
I found your container on docker and installed on my unraid rig.
It seems to pull the entire 555mb container but I have no understanding on how to configure it and where to place the configuration file.
This looks like such a useful piece of software but its such a pitty the intructions are so limited, like assuming eveyone i

[2021-01-10 15:11] emeni09 commented on #74
in the end is the n26 dumper working now? or still unsuported?
I get "Couldn't login with your provided N26 credentials. Please verify that they're correct. (RuntimeError)" but after checking my login credential 3 times I am quite sure something else is happening :(

[2021-01-21 10:56] emeni09 commented on #86
I managed to get it barely running but it says my n26 credentials are not correct. Which is not the case, as I have double checked them :( any idea how to proceed?